<?xml version="1.0"?>
<packages>
    <package id="GoogleJapaneseInput" />

    <package id="GoogleChrome" />
    <package id="Firefox" />

    <package id="git" />
    <package id="tortoisesvn-ipv6" />
    <package id="GitHub" />
    <package id="SourceTree" />

    <package id="notepadplusplus.install" />
    <package id="visualstudiocode" />

    <package id="7zip.install" />
    <package id="lightshot.install" />
    <package id="winmerge" />
    <package id="sqlite" />

    <package id="putty.install" />
    <package id="winscp.install" />

    <package id="google-backup-and-sync" />
    <package id="dropbox" />
    <package id="onedrive" />

    <package id="Slack" />
    <package id="Skype" />

    <package id="Steam" />

    <package id="gnuwin32-coreutils.install" />
    <package id="gnuwin32-grep.install" />

</packages>
