<?xml version="1.0"?>
<packages>
    <!-- To eliminate Caps Lock! -->
    <package id="sharpkeys" />

    <!-- IME -->
    <package id="GoogleJapaneseInput" />
    
    <!-- Fonts -->
    <package id="source-han-code-jp" />
    <package id="cascadiacode" />
    
    <!-- Web browsers -->
    <package id="GoogleChrome" />
    <package id="Firefox" />

    <!-- WSL -->
    <package id="wsl-ubuntu-1804" />
    <package id="microsoft-windows-terminal" />
    
    <!-- SCM -->
    <package id="git" />
    <package id="tortoisesvn-ipv6" />
    <package id="GitHub" />
    <package id="SourceTree" />  <!-- Must-have app for those working behind authentication-required proxies -->

    <!-- Development -->
    <package id="visualstudiocode" />
    <package id="golang" />

    <!-- SCP/SSH -->
    <package id="winscp.install" />

    <!-- Cloud Storages -->
    <package id="Evernote" />
    <package id="google-backup-and-sync" />
    <package id="dropbox" />
    <package id="onedrive" />

    <!-- Chat / Communication -->
    <package id="Slack" />
    <package id="Skype" />

    <!-- Command-line tools -->
    <package id="cmdutils" />
    <package id="whois" />
    <package id="checksum" />  <!-- Required to write Chocolatey packages -->

    <!-- Misc -->
    <package id="ditto.install" />
    <package id="7zip.install" />
    <package id="lightshot.install" />
    <package id="gimp" />
    <package id="IrfanView" />

</packages>
