<?xml version="1.0"?>
<packages>
    <!-- To eliminate Caps Lock! -->
    <package id="sharpkeys" />

    <!-- IME -->
    <package id="GoogleJapaneseInput" />

    <!-- Web browsers -->
    <package id="GoogleChrome" />
    <package id="Firefox" />

    <!-- SCM -->
    <package id="git" />
    <package id="tortoisesvn-ipv6" />
    <package id="GitHub" />
    <package id="SourceTree" />  <!-- Must-have app for those working behind authentication-required proxies -->

    <!-- Editors -->
    <package id="notepadplusplus.install" />
    <package id="visualstudiocode" />

    <!-- SCP/SSH -->
    <package id="putty.install" />
    <package id="winscp.install" />

    <!-- Cloud Storages -->
    <package id="Evernote" />
    <package id="google-backup-and-sync" />
    <package id="dropbox" />
    <package id="onedrive" />

    <!-- Chat / Communication -->
    <package id="Slack" />
    <package id="Skype" />

    <!-- Command-line tools -->
    <package id="gnuwin32-coreutils.install" />
    <package id="gnuwin32-grep.install" />
    <package id="cmdutils" />
    <package id="whois" />

    <!-- Misc -->
    <package id="7zip.install" />
    <package id="lightshot.install" />
    <package id="winmerge" />
    <package id="sqlite" />
    <package id="gimp" />

</packages>
